{
  "env": {
    "node": true
  },
  "rules": {
    "brace-style": [2],
    "comma-style": [2, "last"],
    "consistent-this": [2, "self"],
    "consistent-return": [0],
    "func-style": [2, "expression"],
    "max-len": [2, 80, 4],
    "max-params": [2, 4],
    "no-shadow": [0],
    "no-cond-assign": [2, "except-parens"],
    "no-else-return": [2],
    "no-floating-decimal": [2],
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-nested-ternary": [2],
    "no-reserved-keys": [2],
    "no-return-assign": [0],
    "no-self-compare": [2],
    "no-underscore-dangle": [0],
    "no-use-before-define": [0],
    "no-void": [2],
    "operator-assignment": [2, "always"],
    "quotes": [2, "single"],
    "radix": [2],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "spaced-line-comment": [2, "always"],
    "valid-jsdoc": [2],
    "vars-on-top": [2],
    "wrap-iife": [2]
  },
  "globals": {
    "Promise": true
  }
}
